// LINESeedKR 폰트
@font-face {
  font-family: "LINESeedKR";
  font-weight: 100;
  font-style: normal;
  src: local("LINESeedKR-Th"), 
       url("/fonts/LINESeedKR-Th.eot");
  src: local("LINESeedKR-Th"),
       url("/fonts/LINESeedKR-Th.eot?#iefix") format("embedded-opentype"),
       url("/fonts/LINESeedKR-Th.woff2") format("woff2"),
       url("/fonts/LINESeedKR-Th.woff") format("woff"),
       url("/fonts/LINESeedKR-Th.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "LINESeedKR";
  font-weight: 300;
  font-style: normal;
  src: local("LINESeedKR-Rg"),
       url("/fonts/LINESeedKR-Rg.eot");
  src: local("LINESeedKR-Rg"),
       url("/fonts/LINESeedKR-Rg.eot?#iefix") format("embedded-opentype"),
       url("/fonts/LINESeedKR-Rg.woff2") format("woff2"),
       url("/fonts/LINESeedKR-Rg.woff") format("woff"),
       url("/fonts/LINESeedKR-Rg.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "LINESeedKR";
  font-weight: 600;
  font-style: normal;
  src: local("LINESeedKR-Bd"),
       url("/fonts/LINESeedKR-Bd.eot");
  src: local("LINESeedKR-Bd"),
       url("/fonts/LINESeedKR-Bd.eot?#iefix") format("embedded-opentype"),
       url("/fonts/LINESeedKR-Bd.woff2") format("woff2"),
       url("/fonts/LINESeedKR-Bd.woff") format("woff"),
       url("/fonts/LINESeedKR-Bd.ttf") format("truetype");
  font-display: swap;
}

// Red Hat Display 폰트
@font-face {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-style: normal;
  src: local("RedHatDisplay-Light"),
       url("/fonts/RedHatDisplay-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 400;
  font-style: normal;
  src: local("RedHatDisplay-Medium"),
       url("/fonts/RedHatDisplay-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  font-style: normal;
  src: local("RedHatDisplay-Regular"),
       url("/fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 600;
  font-style: bold;
  src: local("RedHatDisplay-SemiBold"),
       url("/fonts/RedHatDisplay-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  font-style: bold;
  src: local("RedHatDisplay-Bold"),
       url("/fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 800;
  font-style: bold;
  src: local("RedHatDisplay-ExtraBold"),
       url("/fonts/RedHatDisplay-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  font-style: bolder;
  src: local("RedHatDisplay-Black"),
       url("/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-display: swap;
}

// Bebas Neue 폰트
@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"),
       url("/fonts/BebasNeue-Regular.eot");
  src: local("BebasNeue-Regular"),
       url("/fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
       url("/fonts/BebasNeue-Regular.woff") format("woff"),
       url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-display: swap;
}