#header {
    z-index: 100000;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 1.6rem;
    display: flex;
    align-items: center;
    padding: 1.6rem;

    a {
        font-size: 1.6rem;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            color: var(--color-brand-500);
        }
    }

    > a {
        font-weight: 900;
    }

    .list {
        display: flex;
        gap: 1.6rem;
    }
}
